<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotr@s</title>
    <link rel="stylesheet" href="../static/css/we.css">
    <link rel="icon" href="../static/img/logoCabezaDePagina.png">
</head>
<body>
    <header>
        <div id="logo_header">
            <div class="logo">
                <img src="../static/img/logo_mundo.png" width="30px">
                <p>Nosotr@s</p>
            </div>
        </div>
        <!-- ESTE BOTON RETROCEDE A LA PAGINA DESDE DONDE SE MANDO AL APARTADO DE NOSOTROS -->
        <div id="back_button">
            <button onclick="window.history.back();">Volver atrás</button>
        </div>
    </header>

    <main>
        <section class="about-team">
            <h1>CONÓCENOS</h1>
            <div class="team-container">
                <div class="team-member">
                    <a href="mariaAleja.html">
                        <img src="../static/img/Maria_alejandra.jpg" alt="María Valencia">
                    </a>
                    
                    <h3>María Valencia</h3>
                    <p>Desarrolladora Frontend</p>
                </div>
                <div class="team-member">
                    <a href="lauraCristina.html">
                        <img src="../static/img/Laura_cespedes.jpg" alt="Compañera 2">
                    </a>
                    <h3>Laura Cespedes</h3>
                    <p>Desarrolladora Backend</p>
                </div>
                <div class="team-member">
                    <a href="jesusManuel.html">
                        <img src="../static/img/Jesus_Espitia.jpg" alt="Jesús Manuel">
                    </a>
                    <h3>Jesús Espitia</h3>
                    <p>Desarrollador Fullstack</p>
                </div>
            </div>
        </section>
    </main>

    <script src="/static/js/we.js"></script>
</body>
</html>
